<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electron Boilerplate</title>

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

</head>
<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input id="search" type="text" class="form-control">
                      <ul>
                        <li v-for="note in list">
                          <span v-on:click="edit(note.id)">{{ note.text }}</span>
                          <button v-on:click="removeTodo($index, note.id)">X</button>
                        </li>
                      </ul>
                </div>
                <div class="col-md-8">
                    <button v-on:click="addTodo">Add todo</button>
                    <textarea v-model="currentNote.text">{{ currentNote.text }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.$ = window.jQuery = require('./bower_components/jquery/dist/jquery.min.js');
    </script>
    <script src="app.js"></script>

</body>
</html>
