<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Notes</title>

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

</head>
<body>

    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input id="search" v-model="search" type="text" class="form-control" placeholder="Filter">
                    </div>
                      <ul class="notes">
                        <li v-for="note in list | filterBy search in 'text'" class="notes__note">
                          <span v-on:click="edit($index)" class="notes__note__text">{{ note.text | ellipsis }}</span>
                        </li>
                      </ul>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <button v-on:click="add" class="btn btn-default">New note</button>
                            <span v-if="currentNote">
                                <button v-on:click="remove(currentNote.id)" class="btn btn-default">Remove</button>
                            </span>
                        </div>
                    </div>
                    <div class="note" v-if="currentNote">
                        <textarea v-model="currentNote.text" v-on:keyup="save" class="note__edit" placeholder="Insert note...">{{ currentNote.text }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>

</body>
</html>
